.page {
  margin: 4rem;
  /*background-color: grey;*/
  text-align: left;
  width: 25rem;
}

.page h1 {
  text-align: center;
}

.todoList {
  list-style-type: none;
  padding-left: 0.1rem;
  margin: 0;
  padding: 0;
}

.todoItem {
  margin: 0.3rem;
}

.todoCheck {
  margin-right: 0.5rem;
}

.todoClose {
  float: right;
  border-radius: 50%;
  font-size: 1px;
  border: none;
  background-color: grey;
}

.todoInsert {
  margin-top: 1rem;
}
