.header {
  height: 110px;
  padding: 0;
}

.logo {
  width: 100px;
  height: 65px;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 20px;
  float: left;
}

.menu {
  margin: 30px;
}

.content {
  margin: 30px 100px 0;
}

.footer {
  text-align: center;
  font-size: 1rem;
}
